html { position: relative; width: 100%; height: 100%; }
html .shadow { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2); z-index: 999; display: none; }

.main { width: 1130px; margin: 0 auto; margin-top: 150px; }

.main .left { position: relative; float: left; padding-left: 50px;}

.main .left .btn img { width: 80px; height: 90px; border: 1px solid #ccc; float: left; margin-top: 20px; margin-right: 10px; }

.main .left .mid { position: relative; }

.main .left .mid .filter { position: absolute; width: 150px; height: 150px; background: #FFF; opacity: 0.6; border: 1px solid #ccc; top: 0; left: 0; display: none; }

.main .left .big { position: absolute; width: 300px; height: 300px; left: 500px; top: 0px; overflow: hidden;left: 550px; display: none;}

.main .left .big img { width: 960px; height: 960px; position: absolute;  }

.main .right { float: left; margin-left: 80px; }

.main .right h6 { width: 490px; border-bottom: 1px #d6d6d6 solid; font-size: 24px; padding-bottom: 5px; color: #8b8b8b; font-weight: 500; }

.main .right h6 span { font-size: 14px; }

.main .right p:nth-child(2) { font-size: 30px; color: #2f9790; margin-top: 33px; margin-bottom: 20px; }

.main .right p:nth-child(3) { width: 70px; height: 30px; background: #71bcbf; color: white; text-align: center; line-height: 30px; font-size: 12px; }

.main .right p:nth-child(4) { font-size: 12px; margin: 20px 0px; color: #b6b6b6; }

.main .right p:nth-child(5) { font-size: 12px; width: 490px; border-bottom: 1px dashed #CCCCCC; padding-bottom: 20px; 
.cont_vau{border: none;width: 20px;height: 25px;text-align: center;}
}

.main .right p:nth-child(5) span { padding: 0px 12px; border: 1px solid; color: #1B8C86; background: #F2F6F7; margin: 0px 10px; font-size: 20px; }

#data p { font-size: 13px; margin: 13px 0px; }

#data ul{ height: 80px;width: 100%;}

#data ul li { float: left; width: 80px; height: 80px; border: 1px solid #DEDEDE; text-align: center; color: #9b9b9b; margin-left: 20px; border-radius: 50%; font-size: 12px; line-height: 20px; padding-top: 20px; cursor: pointer; position: relative; }

#data ul .color { background: #71BCBE; color: white; }

#data ul li:hover { background: #71BCBE; color: white; }

.up { position: absolute; left: -100px; background: white; }

#data ul li img { width: 30%; height: 40%; }

#datetimepicker { width: 80px; height: 80px; border-radius: 50%; border: 1px solid #DEDEDE; text-align: center; margin-top: -20px; color: #9b9b9b; position: absolute; top: 19px; left: -1px; opacity: 0; background: #71BCBE; color: white; outline: none; }

.mtime { position: absolute; width: 300px; height: 330px; background: white; top: 20%; left: 35%; z-index: 999; overflow: hidden; display: none; }

.mtime span { font-size: 16px; font-weight: bold; color: #007aff; float: right; padding: 5px; cursor: pointer; }

.mtime p { height: 60px; width: 100%; border-bottom: 1px solid #E2E2E2; border-top: 1px solid #E2E2E2; position: relative; top: 90px; }

.mtime p input { width: 50%; float: left; height: 100%; border: none; }

.mtime ul { font-size: 20px; height: 150px; width: 300px; overflow: auto; }

.mtime ul li { height: 50px; }

.mtime .houer { position: absolute; left: 60px; top: 100px; }

.mtime .mint { position: absolute; left: 200px; top: 150px; height: 100px; }

.add{width: 100%;height: 100px;border-bottom: 1px solid #d6d6d6;}

.add a { width: 32%; display: block; line-height: 30px; height: 30px; text-align: center; float: left; color: white; background: #1b8c86; margin-left: 5px; border-radius: 2px; font-size: 13px; margin-top: 35px; }

.btn_last{color: #1b8c86;font-size: 15px;margin-top: 20px; height: 50px;border-bottom: 1px solid #ccc;}

.btn_last span{display: block;float: left;height: 30px;margin-right: 40px;cursor: pointer;}

.btn_last .color_c{border-bottom: 3px #7b9196 solid;}

.btn_last .color_b{border-bottom: 3px #D9E8EB solid;}

.btn_focus span{display: block;font-size: 12px;margin-top: 27px;}

.btn_danger {font-size: 12px; color: #1b8c86;margin-top: 10px;display: none;}

.all_img{margin: 0 auto;height: auto;padding-top: 780px;}

.all_img img{display: block;}

.all_img .img_last{margin-left: 90px;}

.all_img table{
    color: #889293;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 70px;
}
.all_img table tr td{
    background: #e5f3f3;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 8px;
    text-align: center;
}
.all_img table tr td:nth-child(1){
    width: 200px;
}
.all_img table tr td:nth-child(2){
    width: 750px;
}

.comment p:nth-child(1){width: 1000px;height: 40px;margin: 20px auto;background: #e9e9e9;font-size: 17px;border-radius: 7px;line-height: 40px;padding-left: 30px;font-weight: bold;}

.comment p:nth-child(2){width: 1000px;height: 60px;margin: 10px auto;border:1px solid;font-size: 12px;color: #CCCCCC;padding-left: 30px;line-height: 60px;}

.to_top{display: none;}

