#shadow{
    width: 100%;height: 100%;background: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    z-index: 111;
    display: none;
}
#shadow .content{
    width: 512px;
    height: 310px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 11;
    margin-left: -250px;
    margin-top: -155px;
}
#shadow .content div{
    text-align: center;
    margin-top: 10px;
    width: 512px;
    height: 110px;
    border-bottom: 1px dashed #ccc;
}
#shadow .content h4{
    margin: 25px auto;
    width: 250px;height: 20px;
    font-size: 22px;
    color: #30978F;
    
}
#shadow .content p,#shadow .content ul{
    text-align: center;
    width: 250px;
    height: 33px;
    margin: 0 auto;
    border: 1px solid #EEEEEE;
    color: rgb(140,106,82); 
    margin-bottom: 22px;
    font-size: 12px;
    line-height: 33px;
    cursor: pointer;
}
#shadow .content ul li{
    float: left;
    margin-left: 44px;  
}



#slider{
    margin-top: 130px;
    position: relative; 
}
#slider .cimg{
    position: relative;
    width: 100%;    
    height: 595px;
}
#slider .cimg li{
    position: absolute;
    top: 0;left: 0;
    width:100%;
    height:595px;
    overflow: hidden;
    opacity: 0;
}
#slider .cimg li a{
    width:100%;
    height:595px;
    display: block;
}
#slider .cimg li:nth-child(1){
    opacity: 1;
}
#slider .cimg li img{
    margin-left: -22%;  
}
#slider .sli_btn{
    width: 597px;
    height: 20px;
    position: absolute;
    top: 550px;
    left: 360px;
}
#slider .sli_btn span{
    display: block;
    width: 70px;
    height: 10px;
    float: left;
    border:2px solid white;
    margin-left: 15px;
    border-radius: 3px;
}
#slider .sli_btn .sli_color{
    background: white;
}


#headbont{
    height: 110px;
}
#headbont .cimg{
    width: 350px;
    height: 50px;
    margin: 10px auto;
}
#headbont #top_list{
    width: 1140px;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding-left:80px ;
}
#headbont #top_list li{
    float: left;
    width: 160px;
    height: 30px;
    margin-top: 25px;
    text-align: center;
}
#headbont #top_list li a{
    color: black;
}
#headbont #top_list .top_btn{
    border-bottom: 2px solid #71BCBE;
}


#main{
    width:1132px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
#main #main_cont li{
    float: left;
    width: 226px;
    height: 246px;
    display: flex;
    justify-content: space-between;
    position: relative;
    opacity: 1;
}
#main #main_cont li .over{
    width: 208px;
    height: 190px;
    background: rgba(0,0,0,.5);
    position: absolute;
    display: none;
}
#main #main_cont li .over img{
    position: absolute;
    top: 30%;
    left: 43%;
}
#main #main_cont li .outbig{
     width: 208px;height: 190px;
     overflow: hidden;
     text-align: center;     
}

#main #main_cont li .bimg{width: 208px;height: 190px;margin: 0 -100%;}
#main #main_cont li .mword{
    background: white;z-index: 2;
    position: absolute;
    width: 208px;
    height: 56px;}
#main #main_cont li .mword p:nth-child(1){
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: dimgray;
}
#main #main_cont li .mword p:nth-child(2){
    text-align: center;
    font-size: 12px;
    color: silver;
    margin-top: 2px;
}

#main #main_cont li .mword img{
    margin-top: -35px;
    float: left;
}
#main #main_cont li .pro_box{
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    font-size: 12px;
    color: silver;
    margin-top: 2px;
    width: 208px;
    height: 55px;
    background: rgba(0,0,0,.5);
    color: white;
}
#main #main_cont li .pro_box .left{
    float: left;
    margin-left: 20px;
    font-size: 13px;
    color: white;
}
#main #main_cont li .pro_box p{
    margin-top: 6px;
}
#main #main_cont li .pro_box span:nth-child(2){
    width: 30px;
    height: 30px;
    float: right;
    margin:10px;
    margin-right: 20px;
    background: url(../img/index/icon.png) no-repeat left top;
    background-position: -135px -13px;
    display: block;
}


body{
    width: 100%;
    height: 100%;
    position: relative; 
}
.showdo{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(10,10,10, .5);
    z-index: 999;
    display: none;  
}
#addcart{
display: none;
    width: 330px;
    height: 330px;
    background: white;
    position: absolute;
    z-index: 1000;
    left: 40%;
    font-size: 12px;
    color: #7d7d7d;
}
#addcart .try_it li:nth-child(1){
    background: url(../img/index/icon.png) no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 280px;
    background-position:-221px -94px; ;
}
#addcart .try_it li:nth-child(2){color: #ccc;margin: 0px 10px;}
#addcart .try_it li:nth-child(3){color: #696969;width: 300px;border-bottom: 1px solid #696969;margin:0px 10px;padding-bottom: 10px;}
#addcart .try_it li:nth-child(4){width: 50px;height: 50px;border-radius: 50%;background: #71BCBE;color: white;margin: 10px;margin-left: 30px;text-align: center;line-height: 50px;}
#addcart .try_it li:nth-child(5),.try_it li:nth-child(6),.try_it li:nth-child(7),.try_it li:nth-child(8){margin:12px;margin-left: 40px;background:url(../img/index/icon.png) no-repeat;background-position: -285px -102px;padding-left: 14px;}
#addcart .try_it li:nth-child(9){font-size: 14px;color: #30978F;margin:10px;margin-left: 40px;}
#addcart .try_it li:nth-child(9) span{padding: 0px 13px;border: 1px solid #1B8C86;font-size: 20px;}
#addcart .try_it li:nth-child(9) span:nth-child(1){margin-left: 8px;}
#addcart .try_it li:nth-child(9) em{color: #b0916a;padding: 2px 13px;font-style: normal;font-size: 12px;}
#addcart .try_it li:nth-child(10) a{padding:7px 47px;color: white;background: #1b8c86;margin-left:5px ;margin-top: 15px;border-radius: 2px;}
#addcart .try_it li:nth-child(10){margin-top: 24px;}
#addcart .try_it li:nth-child(10) a:nth-child(1){margin-left:13px ;}



#btn_img{
    width: 1168px;
    margin: 30px auto;
}
#btn_img a{
    margin: 8px;
}